<app-auth-form-wrapper>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <h2>Register</h2>
    @for(input of inputs;track input.name) {
    <app-form-field [label]="input.label" [for]="input.for">
      <input
        appInput
        [id]="input.for"
        [type]="input.type"
        [placeholder]="input.placeholder"
        [formControlName]="input.name"
      />
      @if(getControlError(input.name)){
      <app-message variant="error">{{ getControlError(input.name) }}</app-message>
      }
    </app-form-field>
    }
    <div class="btn-wrapper">
      <button
        appButton
        variant="primary"
        type="submit"
        size="full"
        class="register-btn"
        [disabled]="!isFormValid || isRegisterLoading"
      >
        Register
      </button>
    </div>
    @if(getFormError()){
    <div class="message-wrapper">
      <app-message variant="error">{{ getFormError() }}</app-message>
    </div>
    }
    <a [routerLink]="['/login']">Have an account? Login</a>
  </form>
</app-auth-form-wrapper>
