<app-auth-form-wrapper>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h2>Login</h2>
    @for(input of inputs;track input.name) {
    <div class="input-container">
      <label [for]="input.for">{{ input.label }}</label>
      <input
        [id]="input.for"
        [type]="input.type"
        [placeholder]="input.placeholder"
        [formControlName]="input.name"
      />
      @if(getControlError(input.name)){
      <app-message variant="error">{{ getControlError(input.name) }}</app-message>
      }
    </div>
    }
    <div class="btn-wrapper">
      <app-button
        variant="primary"
        type="submit"
        size="full"
        [disabled]="!isFormValid || isLoginLoading()"
        >Login</app-button
      >
    </div>
    @if(getFormError()){
    <div class="message-wrapper">
      <app-message variant="error">{{ getFormError() }}</app-message>
    </div>
    }
    <a [routerLink]="['/register']">Don't have an account? Register</a>
  </form>
</app-auth-form-wrapper>
