@use 'variables' as var;

:host {
  color: var.$color-zinc-50;
  white-space: nowrap;

  &.full {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.primary {
    background-color: var.$color-zinc-700;
    padding: 0.5rem;
    border-radius: 0.7rem;
    transition: all 0.2s;

    &:hover {
      background-color: var.$color-zinc-800;
    }

    &:disabled {
      background-color: var.$color-zinc-800;
    }
  }

  &.secondary {
    color: var.$color-zinc-50;
    transition: all 0.2s;

    &:hover {
      color: var.$color-zinc-300;
    }

    &:disabled {
      color: var.$color-zinc-300;
    }
  }
}
