/* ----- Colors ----- */
$color-white: oklch(100% 0.00011 271.152);
$color-red-500: oklch(63.7% 0.237 25.331);
$color-blue-50: oklch(96.2% 0.018 272.314);
$color-blue-100: oklch(93% 0.034 272.788);
$color-blue-200: oklch(87% 0.065 274.039);
$color-blue-300: oklch(78.5% 0.115 274.713);
$color-blue-400: oklch(70.7% 0.165 254.624);
$color-blue-500: oklch(62.3% 0.214 259.815);
$color-blue-600: oklch(54.6% 0.245 262.881);
$color-blue-700: oklch(45.7% 0.24 277.023);
$color-blue-800: oklch(39.8% 0.195 277.366);
$color-blue-900: oklch(35.9% 0.144 278.697);
$color-blue-950: oklch(25.7% 0.09 281.288);
$color-zinc-50: oklch(98.5% 0 0);
$color-zinc-100: oklch(96.7% 0.001 286.375);
$color-zinc-200: oklch(92% 0.004 286.32);
$color-zinc-300: oklch(87.1% 0.006 286.286);
$color-zinc-400: oklch(70.5% 0.015 286.067);
$color-zinc-500: oklch(55.2% 0.016 285.938);
$color-zinc-600: oklch(44.2% 0.017 285.786);
$color-zinc-700: oklch(37% 0.013 285.805);
$color-zinc-800: oklch(27.4% 0.006 286.033);
$color-zinc-900: oklch(21% 0.006 285.885);
$color-zinc-950: oklch(14.1% 0.005 285.823);

/* ----- Breakpoints ----- */
$screen-xss: 20rem;
$screen-xs: 30rem;
$screen-sm: 40rem;
$screen-md: 48rem;
$screen-lg: 64rem;
$screen-xl: 80rem;
$screen-2xl: 96rem;
