@use 'variables' as var;

main {
  padding: 1rem;
  max-width: 120rem;
  margin: 0 auto;

  .spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: var.$screen-xs) {
  main {
    padding: 2rem;
  }
}
