@use 'variables' as var;

header {
  border-bottom: 0.2rem solid var.$color-zinc-800;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;

  .home-link {
    color: var.$color-zinc-700;
    font-size: 2.8rem;
    font-weight: 700;
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
  }
}

@media (min-width: var.$screen-xs) {
  header {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: var.$screen-xs) {
  header {
    padding: 2rem;
  }
}
