@use 'variables' as var;

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: var.$screen-xss) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: var.$screen-md) {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
