@use 'variables' as var;

section {
  background-color: var.$color-zinc-700;
  padding: 1rem;
  border-radius: 0.7rem;
  color: var.$color-zinc-50;

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
  }

  @media (min-width: var.$screen-sm) {
    h2 {
      font-size: 2.4rem;
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
  }

  @media (min-width: var.$screen-xs) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: var.$screen-lg) {
    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (min-width: var.$screen-sm) {
  section {
    padding: 2rem;
  }
}
